include LICENSE
include .coveragerc
include *.md
include *.yml

graft docs
prune docs/_build

graft wwt_data_formats/tests

global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
